.profile {
  font-family: "Montserrat", sans-serif;
}
.profile-container {
  min-height: 300px;
  border: 1px solid #E6E7E8;
  border-radius: 10px;
  box-shadow: 10px 10px 10px -5px #e6e7e8;
  padding: 20px 0px;
}
.profile-banner {
  background-color: #FFAF17;
  height: 240px;
}
.profile-picture {
  width: 300px;
  height: 300px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -150px;
}
.profile-picture > img {
  border: 10px solid white;
  border-radius: 150px;
}
.profile-topnavbar .navbar-nav .nav-link {
  color: #414042;
  padding-right: 0.1rem;
  padding-left: 0.1rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  padding-bottom: 0.1rem;
  margin-bottom: 0.4rem;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}
.profile-topnavbar .navbar-nav .nav-link:hover, .profile-topnavbar .navbar-nav .nav-link.active {
  border-bottom: 3px solid #FFAF17;
}
.profile-hr {
  margin: 0px;
}
.profile-information {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 300px;
}
.profile-name {
  font-weight: 500;
  font-size: 1.2rem;
}
.profile-handler {
  font-size: 0.9rem;
}
.profile-rate .rate .fa-star {
  color: #E6E7E8;
}
.profile-rate .rate .fa-star.active {
  color: #FFAF17;
}
.profile-rate .rate .rate-text {
  font-size: 0.9rem;
}
.profile-location {
  font-size: 0.85rem;
}
.profile-verification .verification-status {
  font-size: 0.85rem;
}
.profile-verification .verification-email {
  background-color: black;
  border-radius: 10px;
  font-size: 10px;
  line-height: 1;
  color: white;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.profile-verification .verification-email .fa-envelope {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.profile-bio {
  font-size: 0.85rem;
}
.profile-follow-cont {
  font-size: 0.85rem;
}

.list-item {
  font-size: 0.85rem;
}
.list-name {
  color: #58595B;
}
.list-heart, .list-heart a {
  color: #58595B;
}

.input-group-listing-search input[type=text] {
  border-right: 0px;
  border-color: #E6E7E8;
}
.input-group-listing-search button {
  border-left: 0px;
  border-color: #E6E7E8;
}

.search-listing-form .btn {
  border-color: #E6E7E8;
}
.search-listing-form .btn > .fas {
  color: #E6E7E8;
}

.btn-profile {
  border-color: #E6E7E8;
}
