.home-right-pane {
  padding: 20px;
  border: 1px solid #939598;
  border-radius: 15px;
}
.home-right-pane span {
  font-size: 1.2rem;
}

.carousel-indicators [data-bs-target] {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border: 0;
}
