.login-registration-form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  height: 100%;
  text-align: center;
}
.login-registration-form > div > div > label {
  display: none;
}
.login-registration-form > div > div > br {
  display: none;
}
.login-registration-form > div {
  width: 100%;
}

.custom-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  min-height: 630px;
  max-width: 768px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.custom-container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.custom-container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
}

@-webkit-keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 7;
}

.custom-container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #FFAF17;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.custom-container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.custom-container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.custom-container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.form-auth {
  max-width: unset;
}

.sub-a {
  color: #939598;
  font-size: 0.8rem;
}

.custom-container .btn {
  border-radius: 15px;
  max-width: 200px;
  width: 100%;
}

.custom-container .component-form-container {
  padding-left: 0;
  padding-right: 0;
}
.custom-container .component-form-container input {
  margin-bottom: 0;
}
.custom-container .form-control {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.custom-container .form-select {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.alert .btn {
  max-width: unset;
  width: unset;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 0.1rem 0.5rem;
}
