label:not(.form-check-label) {
  margin-top: 10px;
}

.setting-actions.justify-content-md-center {
  --bs-gutter-x: 0.5rem;
}

.settings-form .form-control {
  line-height: 2.5;
  background-color: #f3f3f3;
  border-radius: 0;
}

.settings-form .form-select {
  line-height: 2.5;
  background-color: #f3f3f3;
  border-radius: 0;
}

.right-container {
  background-color: white;
}

.main-pane {
  background-color: #f3f3f3;
  border-radius: 10px;
}

.left-pane-bg {
  text-indent: var(--bs-gutter-x, 0.75rem);
  padding-left: 0%;
  padding-right: 0%;
}

.edit-picture {
  padding-left: 10px;
  padding-right: 10px;
}
.edit-picture > img {
  border: 10px solid white;
  border-radius: 150px;
}

.right-pane-bg {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 17px -1px rgba(0, 74, 69, 0.3);
  z-index: 2;
}

.list-group-item {
  border: none;
  background-color: #f3f3f3;
  width: 100%;
  padding: 0px;
}
.list-group-item a {
  color: #414042;
  display: block;
  padding: 0.5rem 1rem;
}
.list-group-item.active, .list-group-item:hover {
  background-color: #FFAF17;
  color: #414042;
}

.settings-list-group {
  border-radius: 0px;
}
