@import '_variables';

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-auth {
    background:white;
    border-radius: 25px;
    width: 100%;
    max-width: 28rem;
    min-height: 320px;
    padding: 20px;
    margin: auto;
}

.form-auth .checkbox {
    font-weight: 400;
}

.form-auth .form-floating:focus-within {
    z-index: 2;
}

.main-pane {
    box-shadow: 4px 5px 2px -1px rgba(216,172,172,0.58);
    -webkit-box-shadow: 4px 5px 2px -1px rgba(216,172,172,0.58);
    -moz-box-shadow: 4px 5px 2px -1px rgba(216,172,172,0.58);
    background-color: $brand-gray-4;
    border-radius: 10px;
}

.btn-rounded {
    border-radius: 10px;
}

#VerifyEmail{
    height:39px;
}

.error-inline{
    margin-left: 24px;
    text-align: left;
}
