@import "~bootstrap/scss/bootstrap";
@import '_variables';
@import "~select2/dist/css/select2.css";
@import "~@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "~@fortawesome/fontawesome-free/css/solid.min.css";
@import "~@fortawesome/fontawesome-free/css/regular.min.css";
@import "~@fortawesome/fontawesome-free/css/brands.min.css";
@import "fonts";

body{
    background-color: #ffffff;
    font-family: $font-roboto;
    font-size: 16px;
}

.roboto{
    font-family: $font-roboto;
}

.montserrat{
    font-family: $font-montserrat;
}

.text-red-600{
    color: $red-600;
}

.text-gray-600{
    color: $gray-600;
}

.text-brand-yellow-1{
    color: $brand-yellow-1;
}

.text-brand-gray-1{
    color: $brand-gray-1;
}
.text-brand-gray-2{
    color: $brand-gray-2;
}

.bg-brand-yellow-1{
    background-color: $brand-yellow-1;
}

.bg-brand-gray-1{
    background-color: $brand-gray-1;
}
.bg-brand-gray-2{
    background-color: $brand-gray-2;
}



hr{
    background-color: $brand-gray-5;
    opacity: 1;
}
header.template-header{
    margin-bottom:190px;

    & .header-fixed{
        background-color: white;
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        z-index: 11;

        & .nav-heart{
            font-size: 1.6rem;
        }

        & .navbar-dark .navbar-nav .nav-item{
            margin-left: 10px;
            margin-right: 10px;
        }
        & .navbar-dark .navbar-nav .nav-link{
            color: white;
        }
    }
}


footer{
    color:$brand-gray-2;

    & .nav-item {
        position: relative;
    }
    @include media-breakpoint-up(xxl) {
        & .nav-item:not(:first-child) > .nav-link::before{
            position:absolute;
            content:"\2022";
            color:$brand-gray-2;
            left:-2px;
        }
    }
    & a.nav-link{
        color:$brand-gray-2;
    }
    & a.nav-link:hover{
        color:$brand-gray-1;
    }

    & .footer-soc-icons .soc-icons{
        color: $brand-gray-2;
        font-size: 1.55rem;
    }

    @include media-breakpoint-up(xxl) {
        & .footer-soc-icons .soc-icons{
            font-size: 2.05rem;
        }
    }

    & .footer-soc-icons .soc-icons:hover{
        color: $brand-gray-1;
    }
}

.form-control:focus, .btn:focus{
    box-shadow: none;
}

.input-group-header-search{

    & input[name="search"]{
        border-right:none;
        background-color: $brand-gray-5;
        border-color: $brand-gray-5;

    }
    & .btn-header-search{
        border-left:none;
        border-right-width:1px;
        border-top-width:1px;
        border-bottom-width:1px;
        border-color: $brand-gray-5;
        background-color: $brand-gray-5;
        line-height: 1;
        outline:none;
        &:active, &:hover, &:focus{
            background-color: $brand-gray-5;
            outline:none;
            box-shadow: none;
        }
        & .fas{
            border-radius: 0.25rem;
            padding:7px;
            color:white;
            font-size: 0.9rem;
            margin:5px 3px 5px 3px;
            background-color: $brand-yellow-1;
        }
    }
}

.btn-yellow{
    background-color: $brand-yellow-1;
    color:white;
    &:hover{
        background-color: $brand-yellow-1;
        color:white;
        outline:none;
    }
    &:focus{
        background-color: $brand-yellow-1;
        color:white;
        outline:none;
    }
}

.btn.bg-brand-yellow-1:hover,.btn.bg-brand-yellow-1:active,.btn.bg-brand-yellow-1:focus,{
    background-color: $brand-yellow-2;
}

.form-validation-error-list{
    padding-left:1rem;
    &-container{
        background: #f8d7da;
        border: 1px solid #f5c2c7;
        border-radius: 0 0 5px 5px;
        color: #842029;
        left: -1px;
        position: absolute;
        text-align: left;
        top: 98%;
        z-index: 3;
        padding: 0 0.5rem;
        width: calc(100% + 2px);
        border-top: 0px;
        transition: ease 0.5s;
    }
}

.user-panel{
    background-color: $brand-gray-1;
    display:none;
    color:white;

    & > .btn-link{
        margin-bottom:5px;
        &:first-child{
            margin-top:5px;
        }
        &:last-child{
            margin-bottom:0;
        }
    }
    &-toggle{
        color: white;
        border: 1px solid white;
        padding: 9px;
        border-radius: 5px;
        width: 2em;
        height: 2em;
        text-align: center;
        line-height: 1;
        font-size: 1.3rem;
        &:hover,&:active,&:focus{
            color:white;
        }
    }
    &.open{
        display:block;
    }
    &.desktop{
        position: absolute;
        top: 100%;
        right: 0;
        width:110px;
        z-index: 3;
    }
}

/* Added additional px-* base from app.scss  */
.px-6 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

  .px-7 {
    padding-left: 1.75rem !important;
    padding-right: 1.75rem !important;
  }

  .px-8 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .px-9 {
    padding-left: 2.25rem !important;
    padding-right: 2.25rem !important;
  }

  .px-10 {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }

  .px-11 {
    padding-left: 2.75rem !important;
    padding-right: 2.75rem !important;
  }

  .px-12 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  .px-14 {
    padding-left: 3.5rem !important;
    padding-right: 3.5rem !important;
  }

  .px-16 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }

  .px-18 {
    padding-left: 4.5rem !important;
    padding-right: 4.5rem !important;
  }

  .px-20 {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }

  .w-70 {
    width: 70% !important;
  }

  .text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .list-none {
    list-style-type: none;
  }

  .-ml-5 {
    margin-left: -1.25rem;
  }

  .-ml-6 {
    margin-left: -1.5rem;
  }

  .-mt-2 {
    margin-top: -0.5rem;
  }

  .mb-1 {
    margin-bottom: 0.25rem;
  }

  .component-form-container-2{
      position: relative;

      & .alert{
          border:none;
          margin:0;
          padding:0 2px;
          background: none;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 0.7rem;
          z-index: 2;
      }
  }

  .select2{
      display: block;
      width: 100%;
      padding: 0.375rem 2.25rem 0.375rem 0.75rem;
      -moz-padding-start: calc(0.75rem - 3px);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: right 0.75rem center;
      background-size: 16px 12px;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
  }

.select2-container--default .select2-selection--single{
    border: none !important;
    padding:0 !important;
}
.select2-selection__arrow b{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 12px;
    width: 13px !important;
    height: 13px !important;
    border: none !important;
    left: -1% !important;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder{
    color:#6c757d !important;
}
.input-group > div{
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;

    &.suffix .form-control{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-width: 0;
    }
    &.prefix .form-control{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left-width: 0;
    }
}
.list-image-container{
    background-size: contain;
    background-position: center;
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-repeat: no-repeat;

    & img{
        max-width: 100%;
        height: auto;
    }
}
