@import '~dropzone/dist/dropzone.css';
@import '_variables';

html{
    scroll-padding-top: 190px;
}

.dropzone{
    border-color: $brand-gray-2;
    background-color: $brand-gray-5;
    border-style: dashed;
    border-width: 2px;
    border-radius: 15px;
    padding:0;
    min-height: unset;

}

.dropzone #dropzone-previews{
    padding: 20px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.dropzone .dz-preview{
    margin:unset;
    margin-bottom:15px;
    display: flex;

}

.dropzone .dz-preview.dz-image-preview{
    background: none;
}

.dropzone .dz-preview .dz-details{
    position: unset;
    opacity: 1;
    background-color: $brand-gray-4;
    border: 1px solid $brand-gray-5;
    border-radius: 5px;
    z-index: 2;

}
.dz-label{
    position: relative;
}
.dz-label > .form-control[type=text]{
    cursor: pointer;
}
.dropzone .dz-preview .dz-image{
    width: 100%;
    height: unset;
    z-index: 2;
    margin:0;
    max-width: 100% !important;
}
.dropzone .dz-preview .dz-progress{
    z-index:3;
}

.dropzone .dz-preview:hover{
    z-index: 3;
}

.dropzone .dz-default.dz-message{
    display: flex;
    justify-content: center;
    cursor: pointer;
    min-height: 100px;
    margin:0;
    text-align:center;
}
.dropzone.dz-started .dz-message{
    display: none;
}

.dropzone .dz-label .dz-error-message{
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    background: none;
    color: #842029;
    font-size: 0.7rem;
    padding: 0px 5px;
    z-index: 3;
    top: 0;
    left: unset;
    width: unset;
    pointer-events: none;
}

.dropzone .dz-preview .dz-error-message::after {
    display: none;
}
.dropzone .dz-preview.dz-error .dz-error-mark{
    display: none;
}

.dropzone .dz-preview .dz-details{
    text-align: left;
}
.right-pane-container {
    //min-height: 134px;
}
.right-pane-divider {
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.errorMessage{
    color: #842029;
}

#price_div_container{
    margin-bottom:0 !important;
}

.dz-details .btn{
    cursor: pointer;
}

.fixedElement{
    position:fixed;
    top:0;
    width:auto;
    z-index:2;
    transition: ease-in 500ms;
}

.product-cover{
    position: absolute;
    top: 5%;
    left: 3%;
    z-index: 3;
    background: white;
    border-radius: 16px;
    padding: 4px 7px 0 6px;
}

.dz-image-container{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    & .dz-image{
        display: none !important;
    }
}

.summary_photo{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
