@import '_variables';

.profile{
    font-family: $font-montserrat;

    &-container{
        min-height: 300px;
        border:1px solid $brand-gray-5;
        border-radius: 10px;
        -webkit-box-shadow: 10px 10px 10px -5px rgba(230,231,232,1);
        -moz-box-shadow: 10px 10px 10px -5px rgba(230,231,232,1);
        box-shadow: 10px 10px 10px -5px rgba(230,231,232,1);
        padding:20px 0px;
    }

    &-banner{
        background-color:$brand-yellow-1;
        height:240px;
    }

    &-picture{
        width: 300px;
        height:300px;
        padding-left:10px;
        padding-right:10px;
        margin-top:-150px;
        & > img {
            border: 10px solid white;
            border-radius: 150px;
        }
    }

    &-topnavbar{
        & .navbar-nav .nav-link{
            color: $brand-gray-1;
            padding-right: 0.1rem;
            padding-left: 0.1rem;
            margin-left:0.4rem;
            margin-right:0.4rem;
            padding-bottom:0.1rem;
            margin-bottom:0.4rem;
            border-bottom: 3px solid rgba(0,0,0,0);
        }
        & .navbar-nav .nav-link:hover, & .navbar-nav .nav-link.active{
            border-bottom: 3px solid $brand-yellow-1;
        }
    }

    &-hr{
        margin: 0px;
    }

    &-information{
        padding-left:10px;
        padding-right:10px;
        max-width: 300px;
    }

    &-name{
        font-weight: 500;
        font-size: 1.2rem;
    }
    &-handler{
        font-size: 0.9rem;
    }

    &-rate{
        & .rate .fa-star{
            color:$brand-gray-5;
        }
        & .rate .fa-star.active{
            color:$brand-yellow-1;
        }

        & .rate .rate-text{
            font-size: 0.9rem;
        }
    }
    &-location{
        font-size: 0.85rem;
    }
    &-verification{
        & .verification-status{
            font-size: 0.85rem;
        }
        & .verification-email{
            background-color: black;
            border-radius: 10px;
            font-size: 10px;
            line-height: 1;
            color:white;
            width: 16px;
            height: 16px;
            display: flex;
            justify-content: center;
            align-content: center;

            & .fa-envelope{
                height: fit-content;
            }
        }
    }

    &-bio{
        font-size: 0.85rem;
    }

    &-follow-cont{
        font-size: 0.85rem;
    }
}

.list{
    &-item{
        font-size: 0.85rem;
    }

    &-name{
        color:$brand-gray-3;
    }
    &-price{

    }
    &-heart, &-heart a{
        color:$brand-gray-3;
    }
}

.input-group-listing-search{
    & input[type=text]{
        border-right:0px;
        border-color: $brand-gray-5;
    }

    & button{
        border-left:0px;
        border-color: $brand-gray-5;
    }
}

.search-listing-form{
    & .btn, {
        border-color: $brand-gray-5;
    }
    & .btn > .fas {
        color: $brand-gray-5;
    }
}

.btn-profile{
    border-color: $brand-gray-5;
}
