@import '_variables';

label:not(.form-check-label) {
    margin-top: 10px;
}
.setting-actions.justify-content-md-center {
    --bs-gutter-x: 0.5rem;
}
.settings-form .form-control {
    line-height: 2.5;
    background-color: $brand-gray-4;
    border-radius: 0;
}
.settings-form .form-select{
    line-height: 2.5;
    background-color: $brand-gray-4;
    border-radius: 0;
}
.right-container {
    background-color: white;
}
.main-pane {
    background-color: $brand-gray-4;
    border-radius: 10px;
}
.left-pane-bg {
    text-indent: var(--bs-gutter-x, 0.75rem);
    padding-left: 0%;
    padding-right: 0%;
}
.edit-picture {
    padding-left: 10px;
    padding-right: 10px;

    & > img {
        border: 10px solid white;
        border-radius: 150px;
    }
}

.right-pane-bg {
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 17px -1px rgba(0,74,69,0.3);
    -moz-box-shadow: 0px 0px 17px -1px rgba(0,74,69,0.3);
    box-shadow: 0px 0px 17px -1px rgba(0,74,69,0.3);
    z-index:2;
}

.list-group-item {
    border: none;
    background-color: $brand-gray-4;
    width: 100%;
    padding: 0px;
    & a{
        color:$brand-gray-1;
        display: block;
        padding: 0.5rem 1rem;
    }
    &.active, &:hover{
        background-color: #FFAF17;
        color:$brand-gray-1;
    }
}

.settings-list-group{
    border-radius: 0px;
}
